<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shelters</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/VP4.css}" />
  </head>
  <body>
    <div th:replace="./fragments/headerFragment :: header"></div>
    <div class="content">
      <h1>Shelters</h1>
      <div class="addButton">
        <a th:href="@{/shelters/create}"><button>Add Shelter</button></a>
      </div>
      <table class="shelterList">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Image</th>
            <th>Website</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="shelter : ${shelters}">
            <td th:text="${shelter.name}"></td>
            <td th:text="${shelter.addressLine1}"></td>
            <td th:text="${shelter.addressLine2}"></td>
            <td th:text="${shelter.city}"></td>
            <td th:text="${shelter.state}"></td>
            <td th:text="${shelter.zip}"></td>
            <td th:text="${shelter.phoneNumber}"></td>
            <td th:text="${shelter.email}"></td>
            <td th:image="${shelter.imageURL}"></td>
            <td th:text="${shelter.shelterWebSite}"></td>
            <td>
              <a
                th:href="@{/shelters/{id}(id=${shelter.id})}"
                class="detailsButton"
                ><button>Details</button></a
              >
              <a
                th:href="@{/shelters/edit/{id}(id=${shelter.id})}"
                class="editButton"
                ><button>Edit</button></a
              >
              <a
                th:href="@{/shelters/delete/{id}(id=${shelter.id})}"
                class="deleteButton"
                ><button>Delete</button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="./fragments/footerFragment :: footer"></div>
  </body>
</html>
