<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Task Schedules</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/VP4.css}" />
  </head>
  <body>
    <div th:replace="./fragments/headerFragment :: header"></div>
    <div class="content">
      <h1>Pet Task Schedules</h1>
    </div>
    <div th:replace="./fragments/footerFragment :: footer"></div>
  </body>
  
</html>