<header>
  <h1>Welcome to the Shelter Database</h1>
  <nav>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/shelters"> Shelters</a></li>
      <li><a href="/adopters"> Adopters </a></li>
      <li><a href="/organicPets"> Organic Pets </a></li>
      <li><a href="/roboticPets"> Robotic Pets </a></li>
      <li><a href="/petMaintenances"> Pet Maintenances </a></li>
      <li><a href="/petTaskSchedules"> Pet Task Schedule </a></li>
      <li><a href="/volunteers"> Volunteers </a></li>
    </ul>
  </nav>
</header>
