<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopter Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}">
</head>
<body>
    <div th:replace="./fragments/headerFragment :: header"></div>
    <div class="content">
    <h1>Adopter Details</h1>
    <div class = "detailsBlock">
    <label class="detailsLabel"> Name </label>
    <label th:text="${adopter.name}"></label><br>
    <label class="detailsLabel"> Address Line 1</label>
    <label th:text="${adopter.addressLine1}"></label><br>
    <label class="detailsLabel"> Address Line 2</label>
    <label th:text="${adopter.addressLine2}"></label><br>
    <label class="detailsLabel"> City </label>
    <label th:text="${adopter.city}"></label><br>
    <label class="detailsLabel"> State </label>
    <label th:text="${adopter.state}"></label><br>
    <label class="detailsLabel"> Zip </label>
    <label th:text="${adopter.zip}"></label><br>
    <label class="detailsLabel"> Phone Number</label>
    <label th:text="${adopter.phoneNumber}"></label><br>
    <label class="detailsLabel"> Email</label>
    <label th:text="${adopter.email}"></label><br>
    <label class="detailsLabel"> Image</label>
    <label th:text="${adopter.imageURL}"></label><br>
    <label class="detailsLabel"> Preferred Pet Type</label>
    <label th:text="${adopter.preferredPetType}"></label><br>
    <label class="detailsLabel"> Adoption Status</label>
    <label th:text="${adopter.adoptionStatus}"></label><br>
    <label class="detailsLabel"> Notes</label>
    <label th:text="${adopter.notes}"></label><br>
    </div>
    <a th:href="@{/adopters}" class="adoptersReturnButton"><button> Return to Adopters</button></a>
    <a th:href="@{edit/{id}(id=${adopter.id})}" class="editButton"> <button> Edit </button></a>
    <a th:href="@{delete/{id}(id=${adopter.id})}" class="deleteButton"> <button> Delete </button></a></td>

<h3>Adopter's Shelters</h3>
    <table class="shelterList">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address Line 1</th>
          <th>Address Line 2</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Image</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${adopter.shelterModel.name}"></td>
          <td th:text="${adopter.shelterModel.addressLine1}"></td>
          <td th:text="${adopter.shelterModel.addressLine2}"></td>
          <td th:text="${adopter.shelterModel.city}"></td>
          <td th:text="${adopter.shelterModel.state}"></td>
          <td th:text="${adopter.shelterModel.zip}"></td>
          <td th:text="${adopter.shelterModel.phoneNumber}"></td>
          <td th:text="${adopter.shelterModel.email}"></td>
          <td th:image="${adopter.shelterModel.imageURL}"></td>
          <td th:text="${adopter.shelterModel.shelterWebSite}"></td>
          <td>
            <a
              th:href="@{/shelters/{id}(id=${adopter.shelterModel.id})}"
              class="detailsButton"
              ><button>Details</button></a
            >
            <a
              th:href="@{/shelters/edit/{id}(id=${adopter.shelterModel.id})}"
              class="editButton"
              ><button>Edit</button></a
            >
            <a
              th:href="@{/shelters/delete/{id}(id=${adopter.shelterModel.id})}"
              class="deleteButton"
              ><button>Delete</button></a
            >
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div th:replace="./fragments/footerFragment :: footer"></div>
</body>

</html>